* {
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(180deg, lightgray, white);
  white-space: nowrap;
  overflow-x: hidden;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-group label {
  margin-right: 1rem;
}

footer {
  background: linear-gradient(135deg, #0d6035, #19633d);
  padding: 0.8rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: left;
}

.search-bar {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  margin-right: 0rem;
}

.search-bar input {
  padding: 0.313rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.sort-by {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  justify-content: flex-start;
  width: 12rem;
  margin-right: auto;
  margin-left: 0.5rem;
}
.sort-by::before{
  content: "";
}

.filter {
  justify-content: flex-end;
  font-size: 1rem;
  display: flex;  
  max-width: 50rem;
  margin: 0 1.5rem;
  max-height: 6rem;
}

#checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

#checkbox-group label {
  color: #fff;
  margin-right: 0;
  flex-basis: calc(15% - 1rem); /* Adjusted to 25% to fit four columns */
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
  margin-left: auto;
}
#all-check{
  background-color: gray;
}
#not-thr{
  background-color: #02a028;
}
#uncom{
  background-color: #649a31;
}
#relicit{
  background-color: #99cb68;
}
#recov{
  background-color: #fecc33;
}
#declin{
  background-color: #fe9a01;
}
#increas{
  background-color: #c26967;
} 
#vuln{
  background-color: #9b0000;
}
#endanger{
  background-color: #660032;
}
#crit{
  background-color: #320033;
}
#deficient{
  background-color: black;
}

#not-thr:hover,#uncom:hover,#relicit:hover,#recov:hover,#declin:hover,#increas:hover,#vuln:hover,
#endanger:hover,#crit:hover,#deficient:hover{
  background: linear-gradient(135deg, #4c4c4c, #222);
  cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

/* Optional: To add some space between the checkboxes and the filter label */
.filter label {
  margin-bottom: 0.5rem;
}


.cards-wrapper {
  display: inline-flex;
  gap: 1rem;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: 0;
  margin-right: 10rem;
  overflow-x: auto;
  white-space: nowrap;
}

.card-container {
  width: 25rem;
  height: 100%;
  border-radius: 1.25rem;
  background: linear-gradient(135deg, #4c4c4c, #222);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: background 0.7s ease;
}

.bird-image {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-radius: 1.25rem;
  transform-origin: center center;
  filter: saturate(0);
  transition: filter 0.7s ease;
}

.card-container:hover .bird-image {
  filter: saturate(1);
}

.card-container:hover {
  background: linear-gradient(135deg, #0d6035, #19633d);
}

.bird-name {
  padding-left: 0.938rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.938rem;
}

.bird-type {
  padding-left: 2.5rem;
  font-size: 1.25rem;
  margin-top: 0.313rem;
  color: #ccc;
}

.bird-stats {
  font-size: 1.25rem;
  margin-top: .6rem;
  padding: 0.938rem;
  display: flex;
  flex-direction: column;
  
}

.bird-stats li {
  display: flex;
  word-wrap: break-all;
  justify-content: space-between;
  margin-bottom: 0.063rem;
  align-items: top;
  text-align: right;
  white-space: wrap;
}

.bird-stats .stat-label {
  font-weight: bold;
  text-align: left;
}

.bird-credit {
  font-size: 1rem;
  margin-top: auto;
  color: #ccc;
  position: absolute;
  bottom: 0.313rem;
  left: 0.938rem;
  font-family: 'Arial', sans-serif;
}

@keyframes rainbow-flashing {
  0% {
    color: red;
  }
  16.66% {
    color: orange;
  }
  33.33% {
    color: yellow;
  }
  50% {
    color: green;
  }
  66.66% {
    color: blue;
  }
  83.33% {
    color: indigo;
  }
  100% {
    color: violet;
  }
}
