* {
  font-family: 'Arial', sans-serif;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-group label {
  margin-right: 10px;
}

footer {
  background-color: #f1f1f1;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.sort-by select,
.filter select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-right: 35px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
}

.card-container {
  width: 100%;
  height: 800px;
  border-radius: 20px;
  background: linear-gradient(135deg, #4c4c4c, #222);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  color: #fff;
  position: relative;
  overflow: hidden;
}

.bird-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 20px;
  transform-origin: center center;
  filter: saturate(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.bird-image:hover {
  overflow: visible;
  transform: scale(0.7) translate(5%, -5%);
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  filter: saturate(1);
}

.bird-name {
  padding-left: 15px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}

.bird-type {
  padding-left: 20px;
  font-size: 18px;
  margin-top: 5px;
  color: #ccc;
}

.bird-stats {
  font-size: 16px;
  margin-top: 15px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.bird-stats li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
  text-align: right;
}

.bird-stats .stat-label {
  font-weight: bold;
  text-align: left;
}

.bird-credit {
  font-size: 12px;
  margin-top: auto;
  color: #ccc;
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-family: 'Arial', sans-serif;
}
